/*-----------------------*/
/***** Bubba Effect *****/
/*---------------------*/

.grid {
	position: relative;
	margin: 0 auto;
	padding: 0em;
	max-width: 100%;
	list-style: none;
	text-align: center;

    .effect-bubba {
        position: relative;
        overflow: hidden;
        margin: 0;
        //min-width: 320px;
        max-width: 100%;
        //min-height: 240px;
        //max-height: 580px;
        width: 100%;
        //background: #3085a3;
        background: #212226;
        text-align: center;
        cursor: pointer;

            img {
                position: relative;
                display: block;
                min-height: 100%;
                width: 100%;

                opacity: 0.7;
                -webkit-transition: opacity 0.35s;
                transition: opacity 0.35s;
            }

            &:hover img {
                opacity: 0.4;
            }


            figcaption,
            figcaption > a {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            figcaption {
                padding: 2em;
                color: #fff;
                text-transform: none;
                font-size: 1.25em;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;

                > a {
                    z-index: 1000;
                    text-indent: 200%;
                    white-space: nowrap;
                    font-size: 0;
                    opacity: 0;
                }

                &::before,
                &::after {
                    pointer-events: none;

                    position: absolute;
                    top: 30px;
                    right: 30px;
                    bottom: 30px;
                    left: 30px;
                    content: '';
                    opacity: 0;
                    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                    transition: opacity 0.35s, transform 0.35s;
                }

                &::before {
                    border-top: 1px solid #fff;
                    border-bottom: 1px solid #fff;
                    -webkit-transform: scale(0,1);
                    transform: scale(0,1);
                }

                &::after {
                    border-right: 1px solid #fff;
                    border-left: 1px solid #fff;
                    -webkit-transform: scale(1,0);
                    transform: scale(1,0);
                }

            }

            h2 {
                position: absolute;
                top: 38%;
                left: 2.6em;

                //padding-top: 50%;
                -webkit-transition: -webkit-transform 0.35s;
                transition: transform 0.35s;
                -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
                margin: 0;

                word-spacing: 0em;
                letter-spacing: -0.04em;
                font-weight: 300;

                span {
                    font-weight: 700;
                    font-size: 1.2em;
                }

                @media (min-width:768px) {
                    top: 43%;

                    word-spacing: -0.08em;
                    letter-spacing: -0.04em;

                    span {
                        font-size: 1.5em;
                    }
                }

                @media (min-width:992px) {

                    word-spacing: -0.18em;
                    letter-spacing: -0.04em;

                    span {
                        font-size: 2em;
                    }

                }
            }

            p {
                position: absolute;
                top: 55%;
                color: $primaryorange;
                letter-spacing: 1px;
                font-size: 100%;
                font-weight: 600;
                text-transform: uppercase;

                margin: 0;
                padding: 20px 2em;
                opacity: 0;

                -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                transition: opacity 0.35s, transform 0.35s;
                -webkit-transform: translate3d(0,20px,0);
                transform: translate3d(0,20px,0);
            }

            p.feat {
                top: 0%;
                color: #fff;
                text-transform: none;

                -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                transition: opacity 0.35s, transform 0.35s;
                -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);

                &::before { @include psuedo-before-after; }
                &:hover::before { content: ""; width: 0%; }

                @media (min-width:768px) {
                    top: 23%;
                }

                @media (min-width: 992px) {
                    top: 23%;
                }

            }


            &:hover figcaption::before,
            &:hover figcaption::after {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }

            &:hover h2,
            &:hover p {
                opacity: 1;
                -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
            }

            &:hover p.feat {
                -webkit-transform: translate3d(0,32px,0);
                transform: translate3d(0,32px,0);

                /*@media (min-width:580px) {
                    -webkit-transform: translate3d(0,40px,0);
                    transform: translate3d(0,40px,0);
                }*/

                @media (min-width:992px) {
                    -webkit-transform: translate3d(0,40px,0);
                    transform: translate3d(0,40px,0);
                }
            }

        @media screen and (max-width: 50em) {
            display: inline-block;
            float: none;
            margin: 10px auto;
            width: 100%;
        }
    }

}
