// Colors

//The White
$primarywhite: #fff;
$EFwhite: #efefef;
$FEwhite: #fefefe;
$ENinewhite: #e9e9e9;
$EFivewhite: #e5e5e5;
$DFivewhite: #d5d5d5;
$FirstSecondarywhite: #f1f1f1;
$FifthSecondarywhite: #f5f5f5;
$FourthSecondarywhite: #f4f4f4;
$secondarywhite: #f8f8f8;

$alphawhite: rgba(255,255,255, 1);
$alphaOnewhite: rgba(255,255,255, .1);
$alphaTwowhite: rgba(255,255,255, .2);
$alphaFourwhite: rgba(255,255,255, .4);
$alphaFivewhite: rgba(255,255,255, .5);
$alphaSixwhite: rgba(255,255,255, .6);
$alphaSeventywhite: rgba(255,255,255, .7);
$alphaEightywhite: rgba(255,255,255, .8);
$alphaNintywhite: rgba(255,255,255, .95);
$alphaTwoOFourwhite: rgba(204,204,204,.8);

$alphaZeroThreewhite: rgba(255,255,255, .03);
$alphaZeroFivewhite: rgba(255,255,255, .05);
$alphaZeroSixwhite: rgba(255,255,255, .06);
$alphaZeroSevenwhite: rgba(255,255,255, .07);
$alphaZeroNinewhite: rgba(255,255,255, .09);
$alphaTwoFiftywhite: rgba(250,250,250, .9);
$alphaTwoFiftywhiteZero: rgba(250,250,250, 0);

//The Blacks
$darkblack: #000;
$primaryblack: #1e1e1e;
$secondaryblack: #2b2b2b;
$thirdblack: #6a6a6a;
$OneFiveblack: #151515;

$alphaZeroZeroblack: rgba(0,0,0, 0);
$alphablack: rgba(0,0,0, 1);
$alphaZeroblack: rgba(0,0,0, 0);
$alphaOneblack: rgba(0,0,0, .1);
$alphaTwoblack: rgba(0,0,0, .2);
$alphaThreeblack: rgba(0,0,0, .3);
$alphaFourblack: rgba(0,0,0, .40);
$alphaFiveblack: rgba(0,0,0, .6);
$alphaSixblack: rgba(0,0,0, .6);
$alphaSevenblack: rgba(0,0,0, .7);
$alphaEightyblack: rgba(0,0,0, .8);
$alphaNintyblack: rgba(0,0,0, .9);
$alphaOneFiveblack: rgba(0, 0, 0, .15);

$alphaZeroFiveblack: rgba(0,0,0, .05);
$alphaZeroEightblack: rgba(0,0,0, .08);
$alphaZeroNineblack: rgba(0,0,0, .09);


$alphaNotPointZeroFifteenblack: rgba(0,0,0, .015);
$alphaNotPointZeroTwentyFiveblack: rgba(0,0,0, .025);
$alphaNotPointZeroThirtyFiveblack: rgba(0,0,0, .030);

//The Oranges
$primaryorange: #fc9b0e;
$secondaryrange:#ff7e01;
$lightorange: #fd970c;
$brightorange: #ff7500;
$OrangePrimary: #f47631;
$alphaSecondaryOrange: rgba(252,155,14,.05);

//The Greys
$primarygrey: #888;
$secondaryGrey: #999999;
$darkgrey: #333333;
$lightergrey: #eee;
$fourthgrey: #444;
$fifthgrey: #555;
$seventhgrey: #777;
$agrey: #aaa;
$fiveFgrey: #5f5f5f;
$BZerogrey: #b0b0b0;
$EAgrey: #eaeaea;
$BBgrey: #bbb;
$DDgrey: #ddd;
$CCgrey: #ccc;
$FourCgrey: #4c4c4c;
$MoonlightGrey: #e9ebf1;
$alphaThirtyFourgrey: rgba(34,34,34, .9);
$alphaThirtyFourTwicegrey: rgba(33,34,38, .99);
$alphaTwentyOnegrey: rgba(21,21,21, .3);
$alphaSeventeenSeventygrey: rgba(17,17,17, .70);
$alphaSeventeenEightygrey: rgba(17,17,17, .80);
$alphaSeventeenNintygrey: rgba(17,17,17, .90);
$alphaEighteenZerogrey: rgba(18,18,18, .1);
$alphaTwentygrey: rgba(20,20,20, .85);



$alphaHundredygrey: rgba(100,100,100, 0);
$alphaHundredPointFourgrey: rgba(100,100,100, .4);
$alphaOneEightygrey: rgba(180,180,180,1);


$alphaTenygrey: rgba(10,10,10, .95);
$alphaTenZerogrey: rgba(10,10,10, 0);
$alphaThirtygrey: rgba(30,30,30, .97);

//The Blues
$brightblue: #4285f4;
$primaryblue: #43a5de;
$darkblue: #005ba9;

//The Navys
$PrimeNavy: #232340;
$primarynavy: #1f4360;
$secondaryNavy: #003366;

//The Purples
$primepurple: #375acc;

//The Turquise
$primeturquise: #11273a;

//The Cyan
$primecyan: #27c5c3;

//The Reds
$secondaryred: #D55554;
$Efourred: #e41919;
$EOnered: #e13939;
$FThreered: #f32929;
$alphaTwoTwentyFiveredZero: rgba(225,57,57, 0);
$alphaTwoTwentyFivered: rgba(225,57,57, .7);
$alphaTwoTwoEightred: rgba(228,25,25, .75);
$TwoTwoEightred: rgba(228,25,25, 1);

//The Greens
$primegreen: #58bf44;
$nedbankgreen: #00643c;
$hjdgreen: #24b373; //#29b36e;
$lightgreen: #f3fef9; //#b4ddbf;
$nebankbrightgreen: rgba(0,149,58, 1);
$alphathirdgreen: rgba(43,183,115, 1);
$alphaFoutyTwogreenFour: rgba(42,183,115,.4);
$alphaFoutyTwogreen: rgba(42,183,115,1);
$alphaFiftyOneSevengreen: rgba(50,178,95, .75);

//The Yellows
$primeyellow: #ffce02;
$secondyellow: #feca25;
$darkyellow: #f4b93d;
$hjdyellow: #f9b31d;

$orangePrimeShadow: #c46904;
$orangeMegaShadow: #de7d07;

$PrimeShadow: rgba(50,50,50,.3);
$MidShadow: rgba(50,50,50,.2);
$SecondLastShadow: rgba(102,102,102,.1);
$LastShadow: rgba(50,50,50,.1);
$NoShadow: rgba(50,50,50,0);

$fontColor: #f7f7f7;

$orange-GradColor: linear-gradient(to right, #ff7e01 0%,#fc9b0e 100%);
$transparentColor: transparent !important;

@mixin gradient($startColor, $endColor) {
    color: #fff;
    /*
    Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff7e01+0,fc9b0e+100 */
    background: #ff7e01; /* Old browsers */
    background: -moz-linear-gradient(left, $startColor 0%, $endColor 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, $startColor 0%,$endColor 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, $startColor 0%,$endColor 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$startColor', endColorstr='$endColor',GradientType=1 ); /* IE6-9 */
}

//$regal-blue: #034378;
//$san-juan: #2d4e68;
//$bermuda: #77d7b9;
