// Typography

$Roboto: 'Roboto', sans-serif;
$defaultFont: 'Poppins', sans-serif;
$Poppins: 'Poppins', sans-serif;


$thinWeight: 100;
$lightWeight: 200;
$regularWeight: 300;
$mediumWeight: 400;
$semiboldWeight: 500;
$boldWeight: 600;
$blackWeight: 700;
$heavyWeight: 800;
$ultraWeight: 900;

$sizeTen: 0.5em;
$sizeTwelve: 0.75em;
$sizeFourteen: 0.875em;
$sizeSixteen: 1em;
$sizeSeventeen: 1.0625em;
$sizeEighteen: 1.125em;
$sizeNineteen: 1.1875em;
$sizeTwenty: 1.25em;
$sizeTwentyTwo: 1.375em;
$sizeTwentyFour: 1.5em;
$sizeTwentySix: 1.625em;
$sizeTwentyEight: 1.75em;
$sizeThirty: 1.875em;
$sizeThirtyTwo: 2em;
$sizeThirtyFour: 2.125em;
$sizeThirtySix: 2.25em;
$sizeThirtyEight: 2.375em;
$sizeFourty: 2.5em;
$sizeFourtyEight: 3em;
$sizeFiftySix: 3.5em;
$sizeSixtyFour: 4em;
$sizeSeventyTwo: 4.5em;
$sizeEighty: 5em;
$sizeNinetySix: 6em;
$sizeOneTwelve: 7em;
$sizeOneTwenty: 7.5em;
$sizeOneTwentyEight: 8em;
$sizeOneThirtySix: 8.5em;
$sizeOneFourtyFour: 9em;

//variables

$sml-Nav-Height: 5rem;
$lineHeight_xs: 1;
$lineHeight_sm: 1.2;

$gutter: 1%;
$gutter-col: 0.9375rem;
$gutter-none: 0;
$gutter-xs: 1em;
$gutter-sm: 5%;
$gutter-sml: 5rem;
$gutter-lg: 50px;
$gutter-test: 1em * 4;
