/* ==============================
   Additional Skills Styles
   ============================== */
.alt-skills-item{
    margin-top: 10px;
}
.alt-skills-title{
    margin-bottom: 21px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.4em;
	color: $thirdblack;
}
.alt-skills-descr{
    color: $thirdblack;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.86
}
