/* ==============================
   Contact section
   ============================== */

.contact-item{
    position: relative;
    padding-left: 44px;
    color: $fourthgrey;

    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
.contact-item a{
    color: $fourthgrey;
    text-decoration: none;
}

.contact-item a:hover{
    color: $PrimeNavy;
    text-decoration: none;
}

.ci-icon{
    width: 23px;
    height: 23px;
    position: absolute;
    top: 10px;
    left: 3px;
    color: $primarywhite;
    text-align: center;
    line-height: inherit
}
.ci-icon:before{
    content: " ";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;

    /*-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;*/

    /*-webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);*/

}
.ci-icon i,
.ci-icon span{
    position: relative;
}
.ci-title-name{
    margin-bottom: 1px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.ci-title{
    margin-bottom: 1px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}
.ci-title.leftalign {
	text-align:left;
}
.ci-title.rightalign {
	text-align:right;
}
.ci-text{
    font-size: 15px;
}
.ci-title.text-red{
    color: $alphaTwoTwentyFivered;
}
.ci-title.text-green{
    color: $alphathirdgreen;
}

.ci-text-white a{
	font-size: 15px;
	font-weight: 300;
    color: $alphawhite;
    text-decoration: none;
}

.ci-text-white a:hover{
    color: $alphaTwoOFourwhite;
    text-decoration: none;
}

/*
 * Contact form
 */

.cf-left-col{
    width: 49.4%;
    float: left;
    margin-right: 1.2%;
}
.cf-right-col{
    width: 49.4%;
    float: left;
}
.contact-form .form-group{
    margin-bottom: 10px;
}
