/*
 * Coming soon page
 */

.countdown{
    display: inline-block;
}
.countdown > li{
    float: left;
    margin: 0 30px;
}
.countdown-number{
    position: relative;
    display: block;
    width: 94px;
    height: 94px;
    color: $primaryblack;
    font-size: 36px;
    text-align: center;
    line-height: 84px;
}
.countdown-number > span{
    position: relative;
    z-index: 2;
}
.countdown-number > b{
    display: block;
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 0;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1;
    color: $secondaryGrey;
    z-index: 2;
}
.countdown-number:before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: $alphaNintywhite;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);

    z-index: 1;
}
