/* ==============================
   Footer
   ============================== */

   //Footer Centered
   .bottom-footer {
       width: 100%;
       bottom: 0;
       padding: 2em;

       .absolute {
         position: absolute;
       }

       .fixed {
         position: fixed;
       }

       .relative {
         position: relative;
       }

           /*from 768 - upwards
           @media only screen and (min-width: 768px) {
               display: flex;
               justify-content: space-between;
               align-content: center;
           }*/


       .bottom-footer-left {

           .bot-foot-l-p {
               display: flex;
               justify-content: center;
               align-items: center;
               /*from 768 - upwards
               @media only screen and (min-width: 768px) {
                   justify-content: flex-start;
                   align-content: center;
                   align-items: baseline;
               }*/

               .bot-foot-l-c { font-size: $sizeSixteen; font-weight: $boldWeight; }

           }

           /*from 768 - upwards
           @media only screen and (min-width: 768px) {
               flex: 1;
           }*/

       }

       .bottom-footer-right {

           .bot-foot-r-p {
               display: flex;
               justify-content: center;
               /*from 768 - upwards
               @media only screen and (min-width: 768px) {
                   justify-content: flex-end;
               }*/

               .bot-foot-r-c {}
           }

           /*from 768 - upwards
           @media only screen and (min-width: 768px) {
               flex: 1;
           }*/

       }

   }



.footer{
    text-align: center;
    font-size: $sizeTwelve;
    font-weight: $boldWeight;
    a {
        color: $primarywhite;
        text-decoration: none;

        -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);

        &:hover{
            color: $PrimeNavy;
            text-decoration: underline;
        }
    }
}

.footer-copy{
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

.footer-made{
    font-size: 11px;
    color: $PrimeNavy;
}

.footer-social-links{
    font-size: 18px;

    a{
        width: 40px;
        height: 40px;
        line-height: 40px !important;
        position: relative;
        margin: 0 2px;
        text-align: center;
        display: inline-block;
        color: $primarywhite;

        -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);

        i, span{
            position: relative;
            top: 0;
            left: 0;
        }

        &:before{
            content: "";
            display: inline-block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border: 0.23444rem solid $primarywhite;

            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;

            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);

            -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
            -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
            -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
            -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
            transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);

        }

        &:hover{
            color: $PrimeNavy;

        &:before{
            background: $primarywhite;
        }

        }

    }

}

.footer-social-links {
    font-size: 18px;

    a{
        width: 40px;
        height: 40px;
        line-height: 40px !important;
        position: relative;
        margin: 0 2px;
        text-align: center;
        display: inline-block;
        color: $brightorange;

        -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);

        i, span{
            position: relative;
            top: 0;
            left: 0;
        }

        &:before{
            content: "";
            display: inline-block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border: 0.23444rem solid $brightorange;

            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;

            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);

            -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
            -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
            -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
            -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
            transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);

        }

        &:hover{
            color: $primarywhite;

        &:before{
            background: $brightorange;
        }

        }

    }

}


a.link-to-top{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: $alphaTwoblack;
    font-size: 48px;
}


.the-btm-left {
	bottom: 3rem;
	left: 4rem;
	position: fixed;
	z-index: 999999999999;
}

.the-btm-right {
	bottom: 3rem;
	right: 4rem;
	position: fixed;
	z-index: 999999999999;
}

//desktop right and left
.the-btm-left-small {
    position: relative;
    z-index: 999999999999;
	bottom: 3rem;
	left: 3rem;
}

.the-btm-right-small{
    position: relative;
	z-index: 999999999999;
    bottom: 3rem;
	right: 3rem;
}

.the-btm-right-mobile{
	z-index: 999999999999;
	left: 4rem;
	margin-left: 20px;
}
