/* ==============================
   Fullscreen menu
   ============================== */

 .fm-logo-wrap{
    position: fixed;
    top: 30px;
    left: 30px;
    height: 54px;
    z-index: 2050;
}
.fm-logo-wrap .aod_logo{
    display: block;
    max-width: 200px;
    position: relative;
    top: 50%;

  font-size: 18px;
  font-weight: 400 !important;
  text-decoration: none;


    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
    transform: translateY(-50%);

    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.fm-button{
    display: block;
    position: relative;
    top: 30px;
    right: 0px;
    width: 54px;
    height: 54px;
    /*background: none;
	  border: 2px solid $primarywhite;*/
    opacity: .85;
    text-indent: -12345px;
    z-index: 1030;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-transition: opacity 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: opacity 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: opacity 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: opacity 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: opacity 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);

    @media only screen and (max-width: 768px) {
        top: 30px;
        right: 0px;
    }
}
.fm-button:hover{
    opacity: 1;
}
.fm-button span{
    display: block;
    width: 22px;
    height: 3px;
    /*background: $primarywhite;*/
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1px 0 0 -11px;

    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    border-radius: 10%;

    -webkit-transition: all 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.fm-button span:before,
.fm-button span:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    /*background: $primarywhite;*/
    position: absolute;
    top: -6px;
    left: 0;

    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    border-radius: 10%;

    -webkit-transition: top 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000), bottom 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000), -webkit-transform 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000) 0.07s;
    -moz-transition: top 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000), bottom 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000), -moz-transform 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000) 0.07s;
    -o-transition: top 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000), bottom 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000), -o-transform 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000) 0.07s;
    -ms-transition: top 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000), bottom 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000), -ms-transform 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000) 0.07s;
    transition: top 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000), bottom 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000), transform 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000) 0.07s;
}
.fm-button span:after{
    top: auto;
    bottom: -6px;
}

/* Orange menu button */
.fm-button.orange{
    background: none;
	  border: 0.33444rem solid $brightorange;
}
.fm-button.orange span{
    background: $brightorange;
}
.fm-button.orange span:before,
.fm-button.orange span:after{
    background: $brightorange;
}

/* Colors menu button */
.fm-button.light{
    background: none;
	  border: 0.33444rem solid $primarywhite;
}
.fm-button.light span{
    background: $primarywhite;
}
.fm-button.light span:before,
.fm-button.light span:after{
    background: $primarywhite;
}


.fm-button.dark{
    background: none;
	  border: 0.33444rem solid $primaryblack;
}
.fm-button.dark span{
    background: $primaryblack;
}
.fm-button.dark span:before,
.fm-button.dark span:after{
    background: $primaryblack;
}

/* Active menu button */

.fm-button.active{
    background: none; /* Changed background Color */
    z-index: 2001;
}
.fm-button.active span{
    background: transparent;
}
.fm-button.active span:before{
    top: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.fm-button.active span:after{
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* Active Color menu button */
.fm-button.light.active{
    background: none; /* Changed background Color */
	  border: 0.33444rem solid $primarywhite;
    z-index: 2001;
}
.fm-button.dark.active{
    background: none; /* Changed background Color */
	  border: 0.33444rem solid $primaryblack;
    z-index: 2001;
}
.fm-button.navy.active{
    background: none; /* Changed background Color */
	  border: 0.33444rem solid $primarywhite;
    z-index: 2001;
}


.fm-button.light.active span{
    background: transparent;
}
.fm-button.dark.active span{
    background: transparent;
}
.fm-button.navy.active span{
    background: transparent;
}


.fm-button.light.active span:before{
    top: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
    transform: rotate(45deg);
	background: $primarywhite;
}
.fm-button.dark.active span:before{
    top: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
    transform: rotate(45deg);
	background: $primaryblack;
}
.fm-button.navy.active span:before{
    top: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
    transform: rotate(45deg);
	background: $primarywhite;
}


.fm-button.light.active span:after{
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
	background: $primarywhite;
}
.fm-button.dark.active span:after{
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
	background: $primaryblack;
}
.fm-button.navy.active span:after{
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
	background: $primarywhite;
}


/*
 * dark fm-button
 */

.dark-fm-button {
    display: block;
    position: fixed;
    top: 30px;
    left: 30px;
    width: 54px;
    height: 54px;
    background: none;
	  border: 0.33444rem solid $primaryblack;
    opacity: .85;
    text-indent: -12345px;
    z-index: 1030;

    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    border-radius: 0%;

    -webkit-transition: opacity 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: opacity 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: opacity 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: opacity 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: opacity 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.dark-fm-button:hover{
    opacity: 1;
}
.dark-fm-button span{
    display: block;
    width: 22px;
    height: 2px;
    background: $primaryblack;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1px 0 0 -11px;

    -webkit-transition: all 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.dark-fm-button span:before,
.dark-fm-button span:after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: $primaryblack;
    position: absolute;
    top: -6px;
    left: 0;

    -webkit-transition: top 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000), bottom 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000), -webkit-transform 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000) 0.07s;
    -moz-transition: top 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000), bottom 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000), -moz-transform 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000) 0.07s;
    -o-transition: top 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000), bottom 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000), -o-transform 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000) 0.07s;
    -ms-transition: top 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000), bottom 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000), -ms-transform 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000) 0.07s;
    transition: top 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000), bottom 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000), transform 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000) 0.07s;
}
.dark-fm-button span:after{
    top: auto;
    bottom: -6px;
}

/* Active menu dark-fm-button */

.dark-fm-button.active{
    background: none; /* Changed background Color */
    z-index: 2001;
}
.dark-fm-button.active span{
    background: transparent;
}
.dark-fm-button.active span:before{
    top: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.dark-fm-button.active span:after{
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* Active menu button */

.fm-social-btn.active{
    background: none; /* Changed background Color */
    z-index: 2001;
}
.fm-social-btn.active span{
    background: transparent;
}
.fm-social-btn.active span:before{
    top: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.fm-social-btn.active span:after{
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* Menu wrapper */

.fm-wrapper{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 50px 30px;
    overflow-x: hidden;
    overflow-y: auto;
    /*background: rgba(0,0,0, .97);*/
	  background: $primarywhite;
    z-index: 2000;

    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* fm wrapper top styles */
.fm-wrapper-top-top{
    display: table-cell;
    text-align: center;
    vertical-align: text-top;
}

/* fm wrapper sub styles */
.fm-wrapper-sub{
    display: table;
    width: 100%;
    height: 100%;
    opacity: 0;

    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
	-o-transform: translateY(30px);
	-ms-transform: translateY(30px);
    transform: translateY(30px);

    -webkit-transition: all 0.1s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.1s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.1s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.1s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.1s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.fm-wrapper-sub.js-active{
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
	-o-transform: translateY(0);
	-ms-transform: translateY(0);
    transform: translateY(0);
}
.fm-wrapper-sub-sub{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/*     ---------------------  */

/*.fm-menu-links,
.fm-menu-links ul{
	margin: 0;
	padding: 10px 0;
	line-height: 1.3;
    text-align: left;
}*/
.fm-menu-links,
.fm-menu-links ul{
	margin: 0px;
	padding: 10px 0;
	line-height: 1.1;
	text-align: center;
    cursor: pointer;
}

.fm-menu-links ul.fm-sub{
	padding: 0;
}
.fm-menu-links a{
	display: block;
	position: relative;
	margin: 0;
	padding: 15px 20px;
	color: $primaryblack;
	font-size: $sizeThirtyEight;
  letter-spacing: 1px;
	font-weight: 600;
	text-decoration: none;
	cursor: pointer;

  -webkit-tap-highlight-color: $alphaOnewhite;
	-webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);

	z-index: 11;

  @media only screen and (min-width: 481px) {
    .fm-menu-links a{ font-size: $sizeFourty; }
  }
}
.no-touch .fm-menu-links a:hover,
.fm-menu-links a:active,
.fm-menu-links li.js-opened > a{
	/*color: $DFivewhite;*/
	color:  $brightorange;
	text-decoration: none;
}
.fm-menu-links li{
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden;
}

.fm-menu-links li > a:active,
.fm-menu-links li.active > a,
.fm-menu-links li a.active{
    color: $brightorange;
}
.fm-menu-links li.js-opened:before{
	display: none;
}
.no-touch .fm-menu-links li.js-opened > a:hover,
.fm-menu-links li.js-opened > a:active{
	color: $primarywhite;
}

.fm-has-sub{

}
.fm-has-sub .fa{
	font-size: 14px;
}
.js-opened > .fm-has-sub > .fa{
    color: $primarywhite;
}
.fm-sub{
	display: none;
	opacity: 0;
	position: relative;
}
.fm-sub > li > a{
	padding-left: 20px;
    padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 13px;
    font-weight: 400;
}

.fm-menu-links li.js-opened .fm-sub{
	opacity: 1;
}
.fm-search{
    width: 320px;
}
.fm-search input.search-field{
    background: transparent;
    color: $fifthgrey;
    text-align: center;
    border: none;
    border-bottom: 1px solid $alphaTwowhite;
}
.fm-search input.search-field:hover{
    border: none;
    border-bottom: 1px solid $alphaFourwhite;
}
.fm-search input.search-field:focus{
    color: $secondaryGrey;
    border-color: $alphaSeventywhite;
}
.fm-search .search-button:hover{
    color: $primarywhite;
}


/* Social links */

.fm-social-links{
	padding: 10px;
	font-size: 14px;
    text-align: center;
}
.fm-social-links > a{
	display: inline-block;
    margin: 0 2px;
	width: 34px;
	height: 34px;
	line-height: 34px;
    border: 0.1986rem solid $alphaFivewhite;
	text-align: center;
	text-decoration: none;
	color: $fiveFgrey;

    -webkir-border-radius: 0%;
    -moz-border-radius: 0%;
    border-radius: 0%;

    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.fm-social-links > a:hover{
    border-color: $alphaEightywhite;
	color: $secondaryGrey;
}
