/* ==============================
   Google maps
   ============================== */

.google-map{
    position: relative;
	background: $primaryblack;
}
#map-canvas{
	height: 410px;
    position: relative;
	background-color: $primaryblack !important;
    z-index: 1;
}
.gm-style-cc{
	display: none !important;
}
.gm-style-iw div{
	color: $seventhgrey;
}
.map-section{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 !important;
    background: $alphaSeventeenNintygrey;
    z-index: 2;
    cursor: pointer;

    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
.map-section:hover{
    background: $alphaSeventeenEightygrey;
}
.map-toggle{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -100px;
    color: $primarywhite;
    text-align: center;
}
.mt-icon{
    width: 27px;
    height: 27px;
    line-height: 27px;
    margin: 6px auto 25px;
    position: relative;
    color: $primaryblack;

    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
.mt-icon:before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: $primarywhite;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);

}
.mt-icon i,
.mt-icon span{
    position: relative;
}
.mt-text{
    margin-left: 12px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    color: $alphaSeventywhite;
}
.mt-close{
    display: none;
}

/* Map opened */

.map-section.js-active{
    height: 50px;
    background: $alphaSeventeenSeventygrey;
}
.map-section.js-active:hover{
    background: $alphaSeventeenEightygrey;
}
.map-section.js-active .mt-icon{
    opacity: 0;
}
.map-section.js-active .mt-text{
    position: relative;
    top: -20px;
}
