/* ==============================
   Home sections
   ============================== */

.home-section{
	width: 100%;
	display: block;
	position: relative;
	overflow: hidden;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.home-content{
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
}

/* Home content */
.home-content{
	position: relative;
}
.home-text{
	display: table-cell;
	height: 100%;
	vertical-align: middle;
}

/* Scroll down icon */
@-webkit-keyframes scroll-down-anim {
	0%{ bottom: 2px; }
	50%{ bottom: 7px; }
	100%{ bottom: 2px; }
}
@-moz-keyframes scroll-down-anim {
	0%{ bottom: 2px; }
	50%{ bottom: 7px; }
	100%{ bottom: 2px; }
}
@-o-keyframes scroll-down-anim {
	0%{ bottom: 2px; }
	50%{ bottom: 7px; }
	100%{ bottom: 2px; }
}
@keyframes scroll-down-anim {
	0%{ bottom: 2px; }
	50%{ bottom: 7px; }
	100%{ bottom: 2px; }
}

.scroll-down{
	width: 40px;
	height: 40px;
	margin-left: -20px;
	position: absolute;
	bottom: 20px;
	left: 50%;
	text-align: center;
	text-decoration: none;

	-webkit-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-moz-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-o-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.scroll-down:before{
	display: block;
	content: "";
	width: 20px;
	height: 20px;
	margin: 0 0 0 -10px;
	position: absolute;
	bottom: 0;
	left: 50%;
	background: $primarywhite;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);

	-webkit-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-moz-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-o-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);

	z-index: 1;
}

.scroll-down:hover:before{
    opacity: .6;
}

.scroll-down-icon{
		display: block;
		width: 10px;
		height: 10px;
		margin-left: -5px;
		position: absolute;
		left: 50%;
		bottom: 4px;
		color: $primaryblack;
		font-size: 15px;

		-webkit-animation: scroll-down-anim 1s infinite;
		-moz-animation: scroll-down-anim 1s infinite;
		-o-animation: scroll-down-anim 1s infinite;
		animation: scroll-down-anim 1s infinite;


		z-index: 2;
}

/*
 * HTML5 BG VIdeo
 */

.bg-video-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}
.bg-video-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
.bg-video-wrapper video{
    max-width: inherit;
    height: inherit;
    z-index: 0;
}

.fullwidth-galley-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 25;
}
