/* ==============================
   Intro page
   ============================== */

.intro-image{
    width:100%;
}
.intro-label{
    position: absolute;
    top:7px;
    right: 10px;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.label-new{
    background: $FThreered;
    color: white;
    padding: 2px 3px;
    font-size: 9px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.label-for-button{
    position: absolute;
    top: -5px;
    right: -5px;
}
.intro-label-round{
    width: 50px;
    height: 50px;
    position: absolute;
    top:-5px;
    right: -5px;
    color: $alphaEightywhite;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    line-height: 50px;
    background: $FThreered;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
