/* ==============================
   Special demos
   ============================== */

/*
 * Magazine
 */

.magazine-logo-text{
   margin-top: 0;
    position: relative;
	font-size: 25px;
    font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.2em;
    line-height: 1.8;
}

.blog-posts-carousel-item{
    padding-bottom: 20px;
}
.blog-posts-carousel-item .post-prev-title,
.blog-posts-carousel-item .post-prev-info{
    padding: 0 10px;
}

.blog-post-prev-small{
	color: $agrey;
    font-size: 12px;
	padding: 12px 0;
    border-top: 1px dotted $EAgrey;
}

.blog-post-prev-small a{
    font-size: 13px;
    display: block;
	color: $fifthgrey;
	text-decoration: none;

	-webkit-transition: all 0.17s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.17s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.17s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.17s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.17s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.blog-post-prev-small a:hover{
	color: $secondaryGrey;
}

.blog-posts-carousel-alt li img{
    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.blog-posts-carousel-alt li:hover img{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);

    -webkit-transition: all 5s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 5s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 5s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 5s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 5s cubic-bezier(0.000, 0.000, 0.580, 1.000);

}
.blog-slide-info{
    width: 100%;
    padding: 30px 30px 30px 30px;
    position: absolute;
    bottom: 0;
    left: 0;
	text-transform: uppercase;
    text-align: center;
	font-size: 11px;
    letter-spacing: 1px;
	color: $alphaSeventywhite;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;

    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .5)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .3));
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .3));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .3));
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .3));
    background: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .3));
    background-color: rgba(0, 0, 0, 0);

    background: $alphaSixblack;
}
.blog-slide-title{
    margin-bottom: 6px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.blog-slide-title a{
    display: block;
    color: $alphaEightywhite;
    text-decoration: none;

    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
.blog-slide-title a:hover{
    color: $alphawhite;
}
.blog-slide-data{
	text-transform: uppercase;
	font-size: 11px;
    letter-spacing: 1px;
}
.blog-slide-data a{
	color: $alphaSixwhite;
	text-decoration: none;
	-webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.blog-slide-data a:hover{
	color: $alphawhite;
	text-decoration: none;
}
