/* ==============================
   Next & Prev Buttons
   ============================== */

.btn-deka-dir,
a.btn-deka-dir{
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 4px 13px;
  	color: $primarywhite;
  	background: $alphaThirtyFourgrey; /* red */
	border: 2px solid transparent;
	font-size: 11px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

	-webkit-transition: background-color 1500ms ease-in-out;
	-moz-transition: background-color 15000ms ease-in-out;
	transition: background-color 1500ms ease-in-out;

	-webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.btn-deka-dir:hover,
.btn-deka-dir:focus,
a.btn-deka-dir:hover,
a.btn-deka-dir:focus{
	font-weight: 400;
	color: $alphaEightywhite;
  	/* background: rgba(225,57,57, .5) !important; red */
	background: $alphaTwoTwentyFiveredZero !important; /* red */
	text-decoration: none;
    outline: none;
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-deka-dir:active{
	cursor: pointer !important;
    outline: none !important;
}
/* the border button */
.btn-deka-dir.btn-border{
  	color: $EOnered;
	  border: 0.19898rem solid $EOnered;
  	background: transparent;
}
.btn-deka-dir.btn-border:hover,
.btn-deka-dir.btn-border:focus{
  	color:$secondarywhite;
	  border-color: transparent;
  	background: $FourCgrey;
}
/* the no border button */
.btn-deka-dir.btn-no-border{
  	color: $alphaEightywhite;
	  border: 0.19898rem solid transparent;
  	background: transparent;
}
.btn-deka-dir.btn-no-border:hover,
.btn-deka-dir.btn-no-border:focus{
  	color: $alphaTwowhite;
	  border-color: transparent;
  	background: transparent;
}

.btn-deka-dir.btn-no-border.green{
  	color: $alphaFoutyTwogreen;
	  border: 0.19898rem solid transparent;
  	background: transparent;
}
.btn-deka-dir.btn-no-border.green:hover,
.btn-deka-dir.btn-no-border.green:focus{
  	color: $alphaFoutyTwogreenFour;
	  border-color: transparent;
  	background: transparent;
}

.btn-deka-dir.btn-no-border.bright{
  	color: $alphawhite;
	border: 0.19898rem solid transparent;
  	background: transparent;
}
.btn-deka-dir.btn-no-border.bright:hover,
.btn-deka-dir.btn-no-border.bright:focus{
  	color: $alphaOneEightygrey;
	border-color: transparent;
  	background: transparent;

    -webkit-text-shadow: 0 0 3px $alphaThreeblack;
	-moz-text-shadow: 0 0 3px $alphaThreeblack;
	text-shadow: 0 0 3px $alphaThreeblack;
}
.btn-deka-dir.btn-custom{
    height: auto;
  	padding: 20px 10px;
	font-size: 20px;
    letter-spacing: 1px;
}

.img-width-30 {
	width: 30%;
}
.img-width-50 {
	width: 50%;
}
.img-width-100 {
	width: 100%;
    border: none;
    padding: 0;
    margin: 0;
}
