/* ==============================
   Post previews
   ============================== */

.post-grid{

}
.post-prev-img{
    margin-bottom: 23px;
    position: relative;
}
.post-prev-img a{
    -webkit-transition: all 0.2s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -moz-transition: all 0.2s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -o-transition: all 0.2s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.2s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    transition: all 0.2s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
.post-prev-img a:hover{
    opacity: .85;
}
.post-prev-img img{
    width: 100%;
}
.post-prev-title{
    margin-bottom: 6px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.post-prev-title a{
    color: $seventhgrey;
    text-decoration: none;

    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
.post-prev-title a:hover{
    color: $primaryblack;
}
.post-prev-info,
.post-prev-info a{
    margin-bottom: 15px;
    font-size: 11px;
    text-decoration: none;
    color: $agrey;

    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
.post-prev-info a:hover{
    color: $primaryblack;
}
.post-prev-text{
    margin-bottom: 22px;
    color: $seventhgrey;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.75;
}
