/* ==============================
   Sections styles
   ============================== */

/*
 * Common
 */

.page-section,
.tiny-section,
.small-section{
	width: 100%;
	display: block;
	position: relative;
    overflow: hidden;
    background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	padding: 140px 0;
}
.small-section{
	padding: 70px 0;
}
.tiny-section{
	padding: 50px 0;
}

.aod_side_margin {
	margin-left: 1em;
	margin-right: 1em;
}

.full-width-section{
	width: 100%;
	height: 100vh;
	display: block;
	position: relative;
    overflow: hidden;
    background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	padding: 180px 0;
}
/*.full-width-section{
	padding: 100px 0;
}*/

.eighty-width-section {
	width: 100%;
	height: 87vh;
	display: block;
	position: relative;
    overflow: hidden;
    background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	padding: 180px 0;
}

.ninety-width-section {
	width: 100%;
	height: 89.5vh;
	display: block;
	position: relative;
    overflow: hidden;
    background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	padding: 180px 0;
}
@media (max-width: 768px) {
	.ninety-width-section {
		width: 100%;
		height: auto;
		overflow: auto;
		display: block;
		position: relative;
	}
}

.small-title{
    padding: 0;
    margin: 0 0 30px 0;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.3em;
}
.section-icon{
    margin-bottom: 7px;
    text-align: center;
    font-size: 32px;
}
.small-title .serif{
    text-transform: none;
    font-weight: 400;
}
.small-title.white{
    color: #fff;
}

.section-title {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5em;
    line-height: 1.4;
}
.section-more{
    margin-top: 7px;
    color: #999;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.4em;
    text-decoration: none;

    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.section-more:hover{
    text-decoration: none;
    color: #000;

}
.section-more .fa{
    font-size: 12px;
}

.section-heading {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5em;
    line-height: 1.3;
}
.section-line{
	width: 55px;
	height: 1px;
	margin: 30px auto;
	background: #111;
}
.section-text{
	font-size: 15px;
	font-weight: 300;
	color: #777;
	line-height: 1.7;
}
.section-text blockquote{
    margin-top: -5px;
}
.section-bot-image{
	margin: 140px 0 -140px;
	text-align: center;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
}

/* Breadcrumbs */

.mod-breadcrumbs{
    margin-top: -5px;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.4em;
    text-decoration: none;
    text-transform: uppercase;

    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.mod-breadcrumbs span{
    opacity: .65;
}
.mod-breadcrumbs a{
    text-decoration: none;

}
.mod-breadcrumbs a:hover{
    text-decoration: none;
}
.mod-breadcrumbs .fa{
    font-size: 12px;
}
.mod-breadcrumbs-mini{
    text-align: left;
}

.home-bot-image{
	width: 100%;
    position: absolute;
    bottom:0;
    left: 0;
	text-align: center;
}

.fixed-height-large,
.fixed-height-medium,
.fixed-height-small{
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.fixed-height-large{
    min-height: 800px;
}
.fixed-height-medium{
    min-height: 700px;
}
.fixed-height-small{
    min-height: 600px;
}


/*
 * Split section
 */

.split-section{
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.split-section-headings{
    width: 50%;
    position: relative;
    overflow: hidden;
    text-align: center;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.ssh-table{
    width: 100%;
    min-height: 500px;
    display: table;
}
.ssh-cell{
    display: table-cell;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.split-section-content{
    width: 50%;
    position: relative;
    overflow: hidden;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.split-section-wrapper{
    padding: 0 80px;
}
