/* Menu */

.sp-wrapper{
    
}
.sp-menu-links,
.sp-menu-links ul{
    margin: 0;
    padding: 10px 0;
    line-height: 1.3;
    text-align: center;
}
.sp-menu-links ul.sp-sub{
    padding: 0;
}
.sp-menu-links a{
    display: block;
    position: relative;
    margin: 0;
    padding: 15px 20px;
    color: #999;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    
    -webkit-tap-highlight-color: rgba(255,255,255, .1); 
        
    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    
    z-index: 11;
}
.no-touch .sp-menu-links a:hover,
.sp-menu-links a:active,
.sp-menu-links li.js-opened > a{
    color: #d5d5d5;
    text-decoration: none;
}
.no-touch .sp-menu-links a:hover{
    background-color: rgba(255,255,255, .05);
}
.sp-menu-links li{
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.sp-menu-links li > a:active,
.sp-menu-links li a.active{
    color: #f5f5f5;
}
.sp-menu-links li.js-opened:before{
    display: none;
}
.no-touch .sp-menu-links li.js-opened > a:hover,
.sp-menu-links li.js-opened > a:active{
    color: #fff;
}

.sp-has-sub{
    
}
.sp-has-sub .fa{
    font-size: 14px;
}
.js-opened > .sp-has-sub > .fa{
    color: #fff;
}
.sp-sub{
    display: none;
    opacity: 0;
    position: relative;
}
.sp-sub > li > a{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: 400;
}

.sp-menu-links li.js-opened .sp-sub{
    opacity: 1;
}
.sp-search{
    width: 100%;
}
.sp-search input.search-field{
    background: transparent;
    color: #555;
    text-align: center;
    border: none;
    border-bottom: 1px solid rgba(255,255,255, .2);
}
.sp-search input.search-field:hover{
    border: none;
    border-bottom: 1px solid rgba(255,255,255, .4);
}
.sp-search input.search-field:focus{
    color: #999;
    border-color: rgba(255,255,255, .7);
}
.sp-search .search-button:hover{
    color: #fff;
}