
/* ==============================
   Top bar
   ============================== */
.aod_main_nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 115px;
  margin: 0;
  padding: 0em 2em;
  z-index: 99999999;

  display: flex;
  align-content: center;
  justify-content: space-between;

  transition-delay: 250ms;
  transition-property: top;

  -webkit-transition: top 0.8s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: top 0.8s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: top 0.8s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: top 0.8s cubic-bezier(0, 0, 0.58, 1);
  transition: top 0.8s cubic-bezier(0, 0, 0.58, 1);

    .aod_nav_logo {
      flex: 1;
      .aod_menu_logo {
        display: flex;
        justify-content: flex-start;
        align-content: center;
        align-items: baseline;
      }
    } // end menu logo link

    .aod_nav_text_links {
      flex: 2;
      .aod_menu {
        display: flex;
        height: 115px;
        width: 100%;

        ul {
          margin: auto;
          li {
            display: inline-block;
            margin: 0 1em;
          }

          li a {
            //color: $PrimeNavy;
            letter-spacing: 0px;
            display: inline-block;
            text-decoration: none;
            @include box-sizing(border-box);
            font-weight: $boldWeight;
            font-family: $Poppins;
            text-transform: lowercase;
            @include transition-all;

            @include transform-style;
            transform: translateZ(0px);
            will-change: transform;
            line-height: 1.2;
            bottom: 2px;
            @include transition-all;

            &:hover { @include nav-hover-focus; color: $PrimeNavy; }
            &:focus { @include nav-hover-focus; color: $PrimeNavy; }

            &::before { @include psuedo-before-after; }
            &:hover::before { content: ""; width: 0%; }

            &::after { @include psuedo-before-after; }
            &:hover::after { content: ""; width: 100%; }

          }

          li a.orange { color: $brightorange;

            &:hover, &:focus {  color: $brightorange; }

            &:hover { @include nav-hover-focus; color: $brightorange; }
            &:focus { @include nav-hover-focus; color: $brightorange; }

            &::before { @include psuedo-before-after-orange; }
            &:hover::before { content: ""; width: 0%; }

            &::after { @include psuedo-before-after-orange; }
            &:hover::after { content: ""; width: 100%; }

          }

          li a.orange:active { color: $brightorange;

            &:hover, &:focus {  color: $brightorange; }

            &:hover { @include nav-hover-focus; color: $brightorange; }
            &:focus { @include nav-hover-focus; color: $brightorange; }

            &::before { @include psuedo-before-after-orange; }
            &:hover::before { content: ""; width: 0%; }

            &::after { @include psuedo-before-after-orange; }
            &:hover::after { content: ""; width: 100%; }

          }

        }

      }
    } // end menu text links

    .aod_nav_icon {
      flex: 1;

      .aod_hamburger_icon {
        display: flex;
        justify-content: flex-end;
        align-content: center;
        align-items: baseline;
      }
    } // end aod hamburger menu icon
}


.top-bar-menu {
    width: 100%;
    justify-content: space-between;
    align-content: center;
    display: flex;
    padding: 0em 2em;

    .left-menu {
        flex: 1;
        .logo-bar-parent {
            display: flex;
            justify-content: flex-start;
            .logo-child {

            }
        }
    }

    .middle-menu {
        flex: 1;
        .menu-links-parent {
            display: flex;
            justify-content: center;
            .menu-links-child {

            }
        }
    }

    .right-menu {
        flex: 1;
        .menu-bar-parent {
            display: flex;
            justify-content: flex-end;
            .menu-bar-child {
            }
        }
    }

}


//Main Content-Centered
.main-content-parent {
    width: 100%;
    height: 80vh;
    display: flex;

    //from 768 - upwards
    @media only screen and (min-width: 768px) {
        height: 90vh;
    }

    .main-content-child {
        width: 240px;
        height: 240px;
        margin: auto;

        //from 768 - upwards
        @media only screen and (min-width: 768px) {
            width: 320px;
            height: 320px;
        }

        //from 1440 - upwards
        @media only screen and (min-width: 1440px) {
            width: 500px;
            height: 500px;
        }

    }
}


/* ==============================
   Top bar
   ============================== */

.top-bar{
    min-height: 40px;
    background: #fbfbfb;
    border-bottom: 1px solid rgba(0,0,0, .05);
    font-size: 11px;
    letter-spacing: 1px;
}

/*
 * Top links
 */

.top-links{
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.top-links li{
    float: left;
    border-left: 1px solid rgba(0,0,0, .05);
}
.top-links li:last-child{
    border-right: 1px solid rgba(0,0,0, .05);
}
.top-links li .fa{
    font-size: 14px;
    position: relative;
    top: 1px;
}
.top-links li .tooltip{
    text-transform: none;
    letter-spacing: normal;
    z-index: 2003;

}
.top-links li a{
    display: block;
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    text-decoration: none;
    text-align: center;
    color: #999;

    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

    -webkit-transition: all 0.1s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.1s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.1s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.1s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.1s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.top-links li a:hover{
    color: #555;
    background-color: rgba(0,0,0, .02);
}

/*
 * Top bar dark
 */

.top-bar.dark{
    background-color: #333;
    border-bottom: none;
}
.top-bar.dark .top-links li,
.top-bar.dark .top-links li:last-child{
    border-color: rgba(255,255,255, .07);
}
.top-bar.dark .top-links li a{
    color: #aaa;
}
.top-bar.dark .top-links li a:hover{
    color: #ccc;
    background-color: rgba(255,255,255, .05);
}
