/* ==============================
  Top Bar Nav
   ============================== */

.top-bar-social-links{
    font-size: 18px;
}
.top-bar-social-links a{
    width: 40px;
    height: 40px;
    line-height: 40px !important;
    position: relative;
    margin: 0 2px;
    text-align: center;
    display: inline-block;
	  color: $primarywhite;

    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
.top-bar-social-links a i,
.top-bar-social-links a span{
    position: relative;
    top: 0;
    left: 0;
}
.top-bar-social-links a:before{
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 0.23444rem solid $primarywhite;

    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);

    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);

}
.top-bar-social-links a:hover{
    color: $PrimeNavy;
}
.top-bar-social-links a:hover:before{
    background: $primarywhite;
}

/* ==============================
  Top Bar Nav - dark
   ============================== */
.top-bar-social-links a.dark { color: $PrimeNavy; }
.top-bar-social-links a.dark:before { border: 0.23444rem solid $PrimeNavy; }
.top-bar-social-links a.dark:hover { color: $primarywhite; }
.top-bar-social-links a.dark:hover:before { background: $PrimeNavy; }

/* ==============================
  Top Bar Nav - Orange
   ============================== */
.top-bar-social-links a.orange { color: $brightorange; }
.top-bar-social-links a.orange:before { border: 0.23444rem solid $brightorange; }
.top-bar-social-links a.orange:hover { color: $primarywhite; }
.top-bar-social-links a.orange:hover:before { background: $brightorange; }

/* ==============================
  Top Bar Nav - Blue
   ============================== */
.top-bar-social-links a.blue { color: $brightblue; }
.top-bar-social-links a.blue:before { border: 0.23444rem solid $brightblue; }
.top-bar-social-links a.blue:hover { color: $primarywhite; }
.top-bar-social-links a.blue:hover:before { background: $brightblue; }
